@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@600&display=swap');
body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: linear-gradient(150deg, #FF3636, #CC13D0 );
  overflow: hidden;
}
.App {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100vh;
}
